<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%result.forEach(element=>{%>
        <img src="<%=element.image%>" alt="">
        <p><%=element.name%></p>
        <p><%=element.patronus%></p>
        <p><%=element.alive%></p>
        <br>
        <form action="/my-characters " method="POST">
        <input type="hidden" name="image" value="<%=element.image%>">
        <input type="hidden" name="name" value="><%=element.name%>">
        <input type="hidden" name="patronus" value="<%=element.patronus%>">
        <input type="hidden" name="alive" value="<%=element.alive%>">
        <button type="submit">save my-character to Data Base</button>
        
        </form>


    <%})%>
    
</body>
</html>